@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
    font-family: "Libre Baskerville", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FD746C, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FD746C, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
}

.container {
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 300px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

input {
    padding: 10px;
    font-size: 16px;
    width: calc(100% - 22px); /* Adjust for padding */
    border: 2px solid #FD746C;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: border-color 0.3s;
}

input:focus {
    outline: none;
    border-color: #2C3E50;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #FD746C;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2C3E50;
}

#feedback {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}

#question {
    margin-top: 20px;
    margin-bottom: 20px;
}